body {
    background-color: green;
    color: red;
    display: flex;
    justify-content: center;
}

.topText {
    text-align: center;
}

.navbar {
    display: flex;
    align-content: center;
}

.switch {
    width: 100px;
    height: 50px;
    background-color: gray;
    color: white;
    border-radius: 20px;
    margin-bottom: 50px;
}

.parentContainer {
    display: flex;
    width: 100%;
    height: 500px;
}

.DH1POSTER {
    display: block;
    height: 60vh;
    padding: 4%;
    /* margin-left: 100px; */
}

.DH2POSTER {
    display: none;
}

.DH3POSTER {
    display: none;
}

.filmcopy {
    float: left;
}

.textBox1 {
    border: solid 2px black;
    display: block;
    text-align: center;
    padding: 10%;
    align-self: center;
    /* margin-top: 300px; */
}

.textBox2 {
    display: none;
}

.textBox3 {
    display: none;
}

.empty {
    width: 20%;
}

.dh1cast {
    display: block;
    width: 60vw;
    /* height: 40vh; */
}

.dh2cast {
    display: none;
}

.dh3cast {
    display: none;
}

#DH3T {
    display: none;
}

#DH2T {
    display: none;
}

#DH1T {
    display: block;
    /* width: 25vw; */
    height: 40vh;
}